{% extends "base.html" %}

{% block title %}Upload IP{% endblock %}

{% block content %}
    <h2>📤 Wgraj plik z adresami IP (.txt)</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="ip_file" class="form-label">Wybierz plik .txt:</label>
            {{ form.ip_file }}
        </div>
        <div class="mb-3">
            <label for="attack_label" class="form-label">Nazwa ataku:</label>
            {{ form.attack_label }}
        </div>
        <button type="submit" class="btn btn-primary">Prześlij</button>
    </form>
{% endblock %}
